/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Ubuntu+Mono&display=swap");
/* 
font-family: 'Kaushan Script', cursive;
font-family: 'Ubuntu Mono', monospace;
*/

* {
  box-sizing: border-box;
}

body {
  min-width: 290px;
}

header,
section {
  overflow: hidden;
}

ul,
li {
  padding: 0;
  list-style: none;
}

:root {
  --font-Kaushan-Script: "Kaushan Script", cursive;
  --font-Ubuntu-Mono: "Ubuntu Mono", monospace;
  --font-Oswald: "Oswald", sans-serif;
  --header-font-color: #6d95bf;
  --banner-font-color: #234f7c;
  --icon-color: #2b435d;
}

/* Header begins. */
header .hd-logo {
  display: block;
  width: 6rem;
  height: 5rem;
  background: url("./assets/Logo-black.png") no-repeat;
  background-size: cover;
  font-size: 0;
}

header .navbar .navbar-collapse .navbar-nav .nav-font {
  font-weight: bold;
  color: black;
}
/* Header ends. */

/* Skillsets begins. */

.skill-sets {
  position: relative;
  padding-bottom: 3rem !important;
  background: url("./assets/background1.jpg");
  background-size: cover;
}

.skill-sets::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

.skill-sets .container {
  position: relative;
  z-index: 9;
  margin-top: 3.5rem;
}

.skill-sets .banner-name {
  margin-bottom: 2rem;
  font-family: var(--font-Kaushan-Script);
}

.skills ul {
  padding: 1rem;
  box-shadow: 8px 8px 5px #ccc;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.skills ul:hover {
  transform: translate(-3px, -3px);
}

.skill-sets .skill-title span {
  margin-bottom: 1.5rem;
  border-bottom: 3px solid var(--banner-font-color);
  font-family: var(--font-Kaushan-Script);
}

.skill-sets li {
  margin-bottom: 1rem;
  font-family: var(--font-Ubuntu-Mono);
  font-size: 1.5rem;
}

.skill-sets li i {
  width: 2rem;
  margin-right: 2rem;
  color: var(--icon-color);

  vertical-align: middle;
}

.tech-skills {
  position: relative;
}

.skills .pic {
  position: absolute;
  width: 35vmin;
  height: 20vmin;
  bottom: 10%;
  right: 3%;
  border-radius: 1rem;
  box-shadow: 6px 6px 6px var(--header-font-color);
  background-size: cover;
  transition: all 0.5s;
  opacity: 0;
  animation: bannerShowPic 0.5s forwards;
  animation-delay: 1s;
  display: none;
}

.tech-skills-pic {
  background: url(./assets/banner-elec.jpg);
}

.skills .pic:hover {
  transform: scale(1.05);
}

.soft-skills {
  position: relative;
  margin-top: 1rem;
}

.soft-skills-pic {
  background: url(./assets/banner-team.jpg);
}

/* Skillsets ends. */

/* Devices begins. */
.devices h2 {
  margin-bottom: 5vmin;
  font-family: var(--font-Kaushan-Script);
}

.device {
  padding: 3vmin;
  overflow: hidden;
}

.device > div {
  padding: 3vmin;
}

.device i {
  font-size: 9vmin;
  /* color: #898989; */
  color: var(--icon-color);
  transition: all 0.3s;
}

.device i:hover {
  transform: rotate(360deg);
}
/* Devices ends. */

/* Projects begins. */
.projects {
  margin-top: 7vmin;
  margin-bottom: 8vmin;
}

.projects-title1,
.projects h2 {
  font-family: var(--font-Kaushan-Script);
}

.projects h2 {
  margin-top: 5vmin;
  margin-bottom: 3vmin;
}

.project {
  margin-bottom: 1.5rem;
}

.project .card-title {
  margin-bottom: 2rem;
}

.project i {
  width: 1rem;
  margin-right: 1.5rem;
}

.project .badge {
  position: relative;
  left: -0.4rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.pyg-icons li .badge {
  margin-top: 0.5rem;
  background-color: #fff;
}
/* Projects ends. */

/* Contact-me begins. */
.contact-me {
  position: relative;
  height: 26vmin !important;
  background: url("./assets/background.jpg");
  background-size: cover;
  height: 10vmin;
}

.contact-me::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.contact-me .container {
  position: relative;
  padding-top: 8vmin;
  padding-bottom: 8vmin;
  z-index: 999;
  margin-top: 3.5rem;
}

.contact-me h1 {
  font-family: var(--font-Kaushan-Script);
}

.email-address {
  font-size: 1.5rem;
}

.email-address i {
  color: var(--icon-color);
  margin-right: 1.5rem;
  transition: all 0.3s;
}

.email-address i:hover {
  transform: rotate(360deg);
}
/* Contact-me ends. */

/* Animations begin. */
@keyframes bannerShowPic {
  0% {
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Animations end. */
